---

- name: Installing dependencies
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
  become: yes
  apt:
    name: "{{ item }}"
  loop:
     - screen
     - meson
     - gcc
     - g++

- set_fact: destination=~/Serial_Logger
- name: Creating directory
  file: path={{ destination }} state=directory
- name: Transfering files
  copy: backup=yes mode="u+rwx" src={{ item }} dest={{ destination }}/
  with_fileglob:
    - "../files/*"

# Install latest tio
- set_fact: destination={{ destination }}/TIO/
- name: Recursively removing directory
  file: path={{ destination }} state=absent
- name: Creating directory
  file: path={{ destination }} state=directory
- name: Clone tio GitHub repository
  git:
    repo: https://github.com/tio/tio.git
    dest: "{{ destination }}"
    version: v2.7 # the last version without lua dependencies
    update: yes
    force: yes
  register: git_clone

- name: Build TIO (only if needed)
  block:
    - name: Configure software
      shell: "meson build"
      args:
        chdir: "{{ destination }}"
    - name: Build software
      command: "meson compile -C build"
      args:
        chdir: "{{ destination }}"
    - name: Test software
      command: "build/src/tio --version"
      args:
        chdir: "{{ destination }}"
  ignore_errors: no
  when: git_clone.changed

- name: Grant access to physical serial ports
  become: yes
  command: usermod -a -G dialout {{ ansible_ssh_user }}
