################################################################################
### Example: @MAC @IP
################################################################################
#00:aa:11:bb:22:cc 192.168.11.02
